{% extends 'webapp/base_forms.html' %}
{% load bootstrap %}

{% block page_title%}
  <h3>
    <i class="fas fa-plus-square">&nbsp;</i>{{ title }}
  </h3>
{% endblock%}

{% block web_forms %}

  {% if form %}

    <form method="POST" class="post-form">
      {% csrf_token %}
      {{ form|bootstrap }}
      {% block cancel_action %}
      <a href="{% url 'webapp:index' %}">
      <button class="btn btn-outline-danger">
        <i class="fas fa-times-circle">&nbsp;</i>Cancel</button>
      </a>
      {% endblock %}
      <button type="submit" class="btn btn-outline-primary">
        <i class="fas fa-save">&nbsp;</i>Save</button>
    </form>

  {% endif %}

{% endblock %}
