{% extends 'webapp/base.html' %}

{% block page_title %}
  <h3>
    <i class="fas fa-user">&nbsp;</i>Contacts
  </h3>
{% endblock %}

{% block add_new_element %}
  {% if can_add %}

    <button type="button" class="btn btn-outline-info">
      <a class="nav-link" href="{% url 'webapp:new_contact' %}">
        <i class="fas fa-plus-square">&nbsp;</i>New Contact
      </a>
    </button>

  {% endif %}

{% endblock %}

{% block main_list %}

  {% if contacts %}
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th>
          Last Name
        </th>
        <th>
          Name
        </th>
        <th>
          Middle Name
        </th>
        <th>
          Group
        </th>
        <th>
          Office
        </th>
        <th class="text-center">Actions</th>
    </thead>
    <tbody>

    {% for contact in contacts %}

      <tr>
        <td> {{ contact.last_name}} </td>
        <td> {{ contact.first_name}} </td>
        <td>
          {% if contact.middle_name %}
           {{ contact.middle_name}}
          {% else %}
            &nbsp;
          {% endif %}
        </td>
        <td> {{ contact.group.name }} </td>
        <td> {{ contact.group.office.name }} </td>
        <td class="text-center"> {{ contact.actions_available }}
            <a href="{{ contact.pk }}"><i class="fas fa-eye"></i></a>
            <!-- <i class="fas fa-pencil-alt"></i>
            <i class="fas fa-trash"></i> -->
            <!-- vCard downloader?  <i class="fas fa-id-card"></i> -->
        </td>
      </tr>

      {# OTHER CLASS FOR EACH TR #}
      {# table-active, table-success, table-warning, table-danger #}
    {% endfor %}

    </tbody>
    </table>

    <!-- PAGINATOR -->
    <div class="pagination">
      <span class="step-links">
          {% if contacts.has_previous %}
              <a href="?page=1">
                <i class="fas fa-angle-double-left"></i>
              </a>
              <a href="?page={{ contacts.previous_page_number }}">
                <i class="fas fa-angle-left"></i>
              </a>
          {% endif %}

          <span class="current">
              {{ contacts.number }} of {{ contacts.paginator.num_pages }}
          </span>

          {% if contacts.has_next %}
              <a href="?page={{ contacts.next_page_number }}">
                <i class="fas fa-angle-right"></i>
              </a>
              <a href="?page={{ contacts.paginator.num_pages }}">
                <i class="fas fa-angle-double-right"></i>
              </a>
          {% endif %}
      </span>
    </div>|
    <!-- END PAGINATOR -->

  {% else %}

    <h5>
      <i class="far fa-grin-beam-sweat">&nbsp;</i>
      No Contacts found!
    </h5>

  {% endif %}

{% endblock %}

{% block info_detail %}

  {% if contact_to_show %}

  <p>
    <h5 class="text-info">
      {{contact_to_show.fa.as_html}}
      {{ contact_to_show.name }}
    </h5>
    <p>
    {{ contact_to_show.group }} - {{ contact_to_show.group.office }} <br>
    <i class="fas fa-map-marker-alt">&nbsp;</i>{{ contact_to_show.group.office.location }}
    </p>
    <p>
    {% for phone in contact_to_show.getPhones %}
      <i class="fas fa-phone">&nbsp;</i> {{ phone.full_number }}<br>

    {% endfor %}
    </p>
    <p>
    {% for email in contact_to_show.getEmails %}
      <i class="fas fa-at">&nbsp;</i> {{ email }}<br>
    {% endfor %}
    </p>
    {% if contact_to_show.can_add_phone %}
    <a href="{% url 'webapp:new_contact_phone' contact_id=contact_to_show.pk %}">
      <i class="fas fa-phone-square">&nbsp</i>Add Phone
    </a>
    {% endif %}
    {% if contact_to_show.can_add_email %}
    <a href="{% url 'webapp:new_contact_email' contact_id=contact_to_show.pk %}">
      <i class="fas fa-envelope-square">&nbsp</i>Add Email
    </a>
    {% endif %}
  </p>

  {% else %}

    <i class="far fa-meh-rolling-eyes">&nbsp;</i>No contact to display.
    <br>
    <p>Choose a contact to display more information.</p>
  {% endif %}

{% endblock %}
