{% extends 'webapp/base.html' %}

{% block page_title %}
  <h3>
    <i class="fas fa-users">&nbsp;</i>
    Groups
  </h3>
{% endblock %}

{% block add_new_element %}
  {% if can_add %}

    <button type="button" class="btn btn-outline-info">
      <a class="nav-link" href="{% url 'webapp:new_group' %}">
        <i class="fas fa-plus-square">&nbsp;</i>New Group
      </a>
    </button>

  {% endif %}

{% endblock %}

{% block main_list %}

  {% if groups %}
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th>
          Group Name
        </th>
        <th>
          Alias
        </th>
        <th>
          Office
        </th>
        <th>
          Location
        </th>
        <th class="text-center">
          Actions
        </th>
    </thead>
    <tbody>

    {% for group in groups %}

      <tr>
        <td> {{ group.name }} </td>
        <td> {{ group.alias }} </td>
        <td> {{ group.office }} </td>
        <td> {{ group.office.location }} </td>
        <td class="text-center">
            {{ group.actions_available }}
            <a href="{{ group.pk }}"><i class="fas fa-eye">&nbsp;</i></a>
            <!-- <i class="fas fa-pencil-alt"></i>
            <i class="fas fa-trash"></i> -->

        </td>
      </tr>

      {# OTHER CLASS FOR EACH TR #}
      {# table-active, table-success, table-warning, table-danger #}
    {% endfor %}

    </tbody>
    </table>
    <!-- PAGINATOR -->
    <div class="pagination">
      <span class="step-links">
          {% if groups.has_previous %}
              <a href="?page=1">
                <i class="fas fa-angle-double-left"></i>
              </a>
              <a href="?page={{ groups.previous_page_number }}">
                <i class="fas fa-angle-left"></i>
              </a>
          {% endif %}

          <span class="current">
              {{ groups.number }} of {{ groups.paginator.num_pages }}
          </span>

          {% if groups.has_next %}
              <a href="?page={{ groups.next_page_number }}">
                <i class="fas fa-angle-right"></i>
              </a>
              <a href="?page={{ groups.paginator.num_pages }}">
                <i class="fas fa-angle-double-right"></i>
              </a>
          {% endif %}
      </span>
    </div>|
    <!-- END PAGINATOR -->
  {% else %}

    <i class="fas fa-meh-rolling-eyes">&nbsp;</i>No Groups to display.

  {% endif %}

{% endblock %}

{% block info_detail %}

  {% if group_to_show %}

  <p>
    <h5 class="text-info">
      <i class="fas fa-users">&nbsp;</i>
      {{ group_to_show.name }}
    </h5>
    <p>
    {{ group_to_show.office }} <br>
    <i class="fas fa-map-marker-alt">&nbsp;</i>{{ group_to_show.office.location }}
    </p>

  </p>

  {% else %}

    <i class="far fa-meh-rolling-eyes">&nbsp;</i>No group to display.
    <p>Choose a group to display its information.</p>
  {% endif %}

{% endblock %}
