{% extends 'webapp/base.html' %}

{% block page_title %}
  <h3>
    <i class="fas fa-map-marked-alt">&nbsp;</i>
    Locations
  </h3>
{% endblock %}

{% block add_new_element %}

  {% if can_add %}

    <button type="button" class="btn btn-outline-info">
      <a class="nav-link" href="{% url 'webapp:new_location' %}">
        <i class="fas fa-plus-square">&nbsp;</i>New Location
      </a>
    </button>

  {% endif %}

{% endblock %}

{% block main_list %}

  {% if locations %}
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Address
        </th>
        <th class="text-center">
          Actions
        </th>
    </thead>
    <tbody>

    {% for location in locations %}

      <tr>
        <td> {{ location }} </td>
        <td> {{ location.address }} </td>
        <td class="text-center">
            {{ locations.actions_available }}
            <a href="{{ location.pk }}"><i class="fas fa-eye">&nbsp;</i></a>
            <!-- <i class="fas fa-pencil-alt"></i>
            <i class="fas fa-trash"></i> -->

        </td>
      </tr>

      {# OTHER CLASS FOR EACH TR #}
      {# table-active, table-success, table-warning, table-danger #}
    {% endfor %}

    </tbody>
    </table>
    <!-- PAGINATOR -->
    <div class="pagination">
      <span class="step-links">
          {% if locations.has_previous %}
              <a href="?page=1">
                <i class="fas fa-angle-double-left"></i>
              </a>
              <a href="?page={{ locations.previous_page_number }}">
                <i class="fas fa-angle-left"></i>
              </a>
          {% endif %}

          <span class="current">
              {{ locations.number }} of {{ locations.paginator.num_pages }}
          </span>

          {% if locations.has_next %}
              <a href="?page={{ locations.next_page_number }}">
                <i class="fas fa-angle-right"></i>
              </a>
              <a href="?page={{ locations.paginator.num_pages }}">
                <i class="fas fa-angle-double-right"></i>
              </a>
          {% endif %}
      </span>
    </div>|
    <!-- END PAGINATOR -->
  {% else %}

    <i class="fas fa-meh-rolling-eyes">&nbsp;</i>No locations to display.

  {% endif %}

{% endblock %}

{% block info_detail %}

  {% if location_to_show %}

  <p>
    <h5 class="text-info">
      <i class="fas fa-map-marked-alt">&nbsp;</i>
      {{ location_to_show.name }}
    </h5>
    <p>
    {{ location_to_show.address }} <br>
    <i class="fas fa-map-marker-alt">&nbsp;</i>{{ location_to_show.address }}
    </p>

  </p>

  {% else %}

    <i class="far fa-meh-rolling-eyes">&nbsp;</i>No location to display.
    <p>Choose a location to display its information.</p>
  {% endif %}

{% endblock %}
