{% extends 'webapp/base.html' %}

{% block page_title %}
  <h3>
    <i class="fas fa-building">&nbsp;</i>
    Offices
  </h3>
{% endblock %}

{% block add_new_element %}

  {% if can_add %}

    <button type="button" class="btn btn-outline-info">
      <a class="nav-link" href="{% url 'webapp:new_office' %}">
        <i class="fas fa-plus-square">&nbsp;</i>New Office
      </a>
    </button>

  {% endif %}

{% endblock %}

{% block main_list %}

  {% if offices %}
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th>
          Office Name
        </th>
        <th>
          Alias
        </th>
        <th>
          Location
        </th>
        <th class="text-center">
          Actions
        </th>
    </thead>
    <tbody>

    {% for office in offices %}

      <tr>
        <td> {{ office }} </td>
        <td> {{ office.alias }} </td>
        <td> {{ office.location }} </td>
        <td class="text-center">
            {{ office.actions_available }}
            <a href="{{ office.pk }}"><i class="fas fa-eye">&nbsp;</i></a>
            <!-- <i class="fas fa-pencil-alt"></i>
            <i class="fas fa-trash"></i> -->

        </td>
      </tr>

      {# OTHER CLASS FOR EACH TR #}
      {# table-active, table-success, table-warning, table-danger #}
    {% endfor %}

    </tbody>
    </table>
    <!-- PAGINATOR -->
    <div class="pagination">
      <span class="step-links">
          {% if offices.has_previous %}
              <a href="?page=1">
                <i class="fas fa-angle-double-left"></i>
              </a>
              <a href="?page={{ offices.previous_page_number }}">
                <i class="fas fa-angle-left"></i>
              </a>
          {% endif %}

          <span class="current">
              {{ offices.number }} of {{ offices.paginator.num_pages }}
          </span>

          {% if offices.has_next %}
              <a href="?page={{ offices.next_page_number }}">
                <i class="fas fa-angle-right"></i>
              </a>
              <a href="?page={{ offices.paginator.num_pages }}">
                <i class="fas fa-angle-double-right"></i>
              </a>
          {% endif %}
      </span>
    </div>|
    <!-- END PAGINATOR -->
  {% else %}

    <i class="fas fa-meh-rolling-eyes">&nbsp;</i>No Office to display.

  {% endif %}

{% endblock %}

{% block info_detail %}

  {% if office_to_show %}

  <p>
    <h5 class="text-info">
      <i class="fas fa-building">&nbsp;</i>
      {{ office_to_show.name }}
    </h5>
    <p>
    <i class="fas fa-map-marker-alt">&nbsp;</i>{{ office_to_show.location }}
    </p>

  </p>

  {% else %}

    <i class="far fa-meh-rolling-eyes">&nbsp;</i>No office to display.
    <p>Choose a office to display its information.</p>
  {% endif %}

{% endblock %}
